@* @page "/" *@
@inject IJSRuntime JS
@implements IAsyncDisposable

<PageTitle>Home</PageTitle>

<Card>
    <CardHeader>
        <CardTitle>
            <h1 class="card-title">Blazor Profile</h1>
        </CardTitle>
    </CardHeader>
    <CardBody>
        @if (!_showMore)
        {
            <div>
                <h3>Name: @_person.FirstName @_person.LastName</h3>
                <p>TNumber: @_person.TNumber</p>
                <Button Color="ButtonColor.Primary" @onclick="TogglePanel">Show More</Button>
            </div>
        }
        else
        {
            <div>
                <p>Address: @_person.Address</p>
                @if (_person is Employee employee)
                {
                    <p>Department: @employee.Department</p>
                }
                else if (_person is Student student)
                {
                    <p>Major: @student.Major</p>
                }
                else
                {
                    <p>Unknown person type</p>
                }
                <Button Color="ButtonColor.Primary" @onclick="TogglePanel">Back</Button>
            </div>
        }
    </CardBody>
</Card>



<Card>
    <CardHeader>
        <CardTitle>
            <h1 class="card-title">Blazor Profile with JQuery</h1>
        </CardTitle>
    </CardHeader>
    <CardBody>
        <div id="panel1">
            <h3>Name: @_person.FirstName @_person.LastName</h3>
            <p>TNumber: @_person.TNumber</p>
        </div>
        <div id="panel2" style="display: none;" >
            <p>Address: @_person.Address</p>
            @if (_person is Employee employee)
            {
                <p>Department: @employee.Department</p>
            }
            else if (_person is Student student)
            {
                <p>Major: @student.Major</p>
            }
            else
            {
                <p>Unknown person type</p>
            }
        </div>

        <Button Color="ButtonColor.Primary" @onclick="TogglePanel2">@ButtonText</Button>
    </CardBody>
</Card>




@code {
    private Person _person;
    private bool _showMore = false;
    private Lazy<IJSObjectReference> _jsmodule = new();
    private string ButtonText = "Show More";

    protected override async void OnInitialized()
    {
        _person = new Employee
            {
                FirstName = "John",
                LastName = "Doe",
                TNumber = "T00000000",
                Department = "IT",
                Address = "123 Main St"
            };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // this ain't loading the js
            // probably a path issue
            // _jsmodule = new(await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Home.razor.js"));
        }
    }

    protected void TogglePanel(EventArgs args)
    {
        _showMore = !_showMore;
        StateHasChanged();
    }

    protected async Task TogglePanel2(EventArgs args)
    {
        _jsmodule = new(await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/Home.razor.js"));
        await _jsmodule.Value.InvokeVoidAsync("SlidePanels");

        if (ButtonText == "Show More")
        {
            ButtonText = "Back";
        }
        else
        {
            ButtonText = "Show More";
        }
    }




    public class Person
    {
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string TNumber { get; set; }
        public string Address { get; set; }
    }

    public class Employee : Person
    {
        public string Department { get; set; }
    }

    public class Student : Person
    {
        public string Major { get; set; }
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsmodule.IsValueCreated)
        {
            await _jsmodule.Value.DisposeAsync();
        }
    }
}

