@inject IJSRuntime JS
@implements IAsyncDisposable


<Card>
    <CardHeader>
        <h1 class="card-title">
            Quick Links
        </h1>
        <div class="card-tools" style="float: right;">
            <Button id="btnToggle" Type="ButtonType.Button" Color="@BtnColor"
                @onclick="ToggleContentAsync">@ToggleText</Button>
        </div>
    </CardHeader>
    <CardBody>
        <div class="container">
            <div class="row">
                @foreach (var quickLink in quickLinks)
                {
                    <li class="quicklink-item col-lg">
                        <QuickLink IconName="@quickLink.IconName" CardText="@quickLink.CardText"
                            CardLink="@quickLink.CardLink" CardSize="large" />
                    </li>
                }
            </div>
        </div>

        <Collapse @ref="collapse1">
            <Card>
                <CardBody>
                    Some placeholder content for the collapse component. This panel is hidden by default but revealed
                    when the user activates the relevant trigger.
                </CardBody>
            </Card>
        </Collapse>

    </CardBody>
</Card>

@code {
    List<QuickLinkInfo> quickLinks = new List<QuickLinkInfo>();
    Collapse collapse1 = default!;
    private Lazy<IJSObjectReference> _jsmodule = new();
    private string ToggleText = "Unlock";
    private ButtonColor BtnColor = ButtonColor.Primary;

    private async Task ToggleContentAsync()
    {
        if (ToggleText == "Unlock")
        {
            ToggleText = "Lock";
            BtnColor = ButtonColor.Danger;
        }
        else
        {
            ToggleText = "Unlock";
            BtnColor = ButtonColor.Primary;
        }

        _jsmodule = new(await JS.InvokeAsync<IJSObjectReference>("import", "./Pages/QuickLinks.razor.js"));
        await _jsmodule.Value.InvokeVoidAsync("ToggleQuickLinks");

        await collapse1.ToggleAsync();
    }
    protected override void OnInitialized()
    {
        quickLinks.Add(new QuickLinkInfo
            {
                IconName = "Google",
                CardText = "Google",
                CardLink = "https://www.google.com"
            });
        quickLinks.Add(new QuickLinkInfo
            {
                IconName = "Apple",
                CardText = "Apple",
                CardLink = "https://www.apple.com"
            });
        quickLinks.Add(new QuickLinkInfo
            {
                IconName = "Youtube",
                CardText = "Youtube",
                CardLink = "https://www.youtube.com"
            });
        quickLinks.Add(new QuickLinkInfo
            {
                IconName = "PlusSquare",
                CardText = "Counter",
                CardLink = "/counter"
            });
    }

    public async ValueTask DisposeAsync()
    {
        if (_jsmodule.IsValueCreated)
        {
            await _jsmodule.Value.DisposeAsync();
        }
    }


    public class QuickLinkInfo
    {
        public string IconName { get; set; }
        public string CardText { get; set; }
        public string CardLink { get; set; }
    }
}